In [1]:
import pandas as pd 
import numpy as np

In [2]:
#randomise some numbers
np.random.seed(42)

In [5]:
fastball_speed = np.random.randint(90, 106 , size = 500)

In [ ]:
#creating random numbers 0 or 1 based on the fast_ball speed
high_speed_risk = np.random.choice([0, 1], p=[0.3, 0.7])

tommy_john = np.where(fastball_speed > 96 , high_speed_risk , 0)

In [11]:
d = {
    'fastball_speed' :fastball_speed,
    'tommy_john' : tommy_john
}

In [12]:
df = pd.DataFrame(data = d)

In [13]:
df

     fastball_speed  tommy_john
0                95           0
1               104           1
2                90           0
3                98           1
4                90           0
..              ...         ...
495              94           0
496              97           1
497              97           1
498              92           0
499              96           0

[500 rows x 2 columns]

In [14]:
X = df[['fastball_speed']]
y = df[['tommy_john']]

In [15]:
#normal train test split 
from sklearn.model_selection import train_test_split

In [16]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size= 0.2 , random_state=11)